[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest
[submodule "vendor/stduuid"]
	path = vendor/stduuid
	url = git@github.com:mariusbancila/stduuid.git
[submodule "vendor/redis-plus-plus"]
	path = vendor/redis-plus-plus
	url = git@github.com:sewenew/redis-plus-plus.git
